#fifth-content{ 
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/final.jpg);
}

.socials-parent {
  width: 99vw;
  height: 50vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}

.socials-child {
  position: relative;
  padding: 2rem;
  @include desktop {
    height: 35rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }

  @include phone {
    height: 9rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}