#fifth-content{ 
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/final.jpg);
}

.socials-parent {
  width: 99vw;
  height: 30vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}

