.header-parent{
    width: 99vw;
    height: 99vh;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(../media/page1.jpg);
    margin-bottom: 10vh;
  }
  
  