#first-content{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-image: url(../media/page1.jpg);
    margin-bottom: 10vh;
    @include desktop {
    background-attachment: fixed;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include phone {
    width: 100vw;
    height: 100vh;
    }
}

  
  
  