.fourth-content{
  width: 99vh;
  height: 99vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-bottom: 10vh;
  background-image: url(../media/reviews.jpg);
}