#fourth-content{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/reviewing.jpg);
  margin-bottom: 5vh;
}

.reviews-parent {
  @include tablet {
    height: 10rem;
  }
  @include desktop {
    height: 15rem;
  }
  @include phone {
    height: 10rem;
  }
}

.reviews {
  width: 80vw;
  height: 50vh;
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  position: relative;
  background: rgba(0, 0, 0, 0.4);
  @include desktop {
  flex-direction: row;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 20rem;
  height: 75vh;
  }
  @include phone {
  flex-direction: column;
  justify-content: left;
  margin: 5rem;
  }
}

.whalen-parent {
  margin-right: 10rem;
  height: 25rem;
  z-index: 2;
}

.caroline-parent {
  margin-left: 10rem;
  height: 25rem;
  z-index: 2;
}

.kenny-parent {
  height: 25rem;
  z-index: 2;
}


