.second-page{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/restaurant.jpg);
  margin-bottom: 10vh;
  
}

.food-title-parent {
  @include tablet {
    height: 7rem;
  }
  @include desktop {
    height: 15rem;
  }
  @include phone {
    height: 10rem;
  }
}
  
.food {
  @include tablet {
    width: 25vw;
    height: 80vw;
    flex-direction: column
  }
  @include desktop {
    width: 99vw;
    height: 25vw;
    flex-direction: row;
  }
  @include phone {
    width: 25vw;
    height: 99vw;
    flex-direction: column
  }
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}
  
.menu {
  position: relative;
  transition: .3s;
  filter: grayscale(50);

  @include tablet {
    height: 19rem;
    width: 29rem;
    padding: 1rem; 
  }
  @include desktop {
    height: 35rem;
    width: 50rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    padding: 2rem;
  }
  @include phone {
    height: 15rem;
    width: 22rem;
    padding: 1rem;
  }
}
  
.menu:hover {
  transform: scale(1.1);
  z-index: 2;
  filter: grayscale(0);
}
  
  
  .menu-items {
    position: relative;

    @include desktop {
      height: 1rem;
      padding: 8rem;
      margin-top: 3rem;
    }
    @include phone {
      height: 3rem;
      width: 20rem;
      padding: 1rem;
    }
  }
  
  .menu-title {
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    @include desktop {
      height: 3rem;
      flex-direction: row;
    }
    @include phone {
      margin-top: 5rem;
      width: 20rem;
      height: 3rem;
      color: blanchedalmond;
    }
  }
  
  