.second-page{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/restaurant.jpg);
  margin-bottom: 10vh;
  
}
  
  .food {
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    width: 99vw;
    height: 25vw;
  }
  
.menu {
  position: relative;
  padding: 2rem;
  transition: .3s;
  filter: grayscale(50);
    
  @include desktop {
    height: 35rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }

  @include phone {
    height: 9rem;
    width: 12rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
  }
}
  
.menu:hover {
  transform: scale(1.1);
  z-index: 2;
  filter: grayscale(0);
}
  
  
  .menu-items {
    position: relative;

    @include desktop {
      height: 35rem;
      padding: 18rem;
      margin-top: 5rem;
    }

    @include phone {
      height: 6rem;
      padding: 2.5rem;
      margin-top: 1rem;
    }
  }
  
  .menu-title {
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    @include desktop {
      height: 10rem;
    }
    @include phone {
      height: 4rem;
    }
  }
  
  