.second-page{
  width: 99vw;
  height: 99vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/restaurant.jpg);
  margin-bottom: 10vh;
}
  
  .food {
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;

    @include desktop {
    width: 99vw;
    height: 25vw;
    }
  }
  
  .menu {
    position: relative;
    transition: all 0.3s;
    padding: 2rem;
    filter: grayscale(50);

    @include desktop {
      height: 35rem;
      margin-top: 10rem;
      margin-bottom: 20rem;
    }

    @include phone {
      height: 6rem;
      margin-top: .5rem;
      margin-bottom: 4rem;
    }
  }
  
  .sushi {
    top: 20rem;
    left: 0;
    border-radius: 2;
    margin: 0;
  }
  
  .udon {
    top: 20rem;
    right: -40rem;
    border-radius: 2;
    margin: 0;
  }
  
  .sashimi {
    top: 20rem;
    right: -40rem;
    border-radius: 2;
    margin: 0;
  }
  .menu:hover {
    transform: scale(1.1);
    z-index: 2;
    filter: grayscale(0);
  }
  
  .food-title-parent {

    @include desktop {
      margin-top: 15rem;
      height: 25rem;
    }

    @include phone {
      margin-top: 3rem;
      height: 5rem;
    }
  }
  
  .menu-items {
    position: relative;

    @include desktop {
      height: 35rem;
      padding: 18rem;
      margin-top: 5rem;
    }

    @include phone {
      height: 6rem;
      padding: 2.5rem;
      margin-top: 1rem;
    }
  }
  
  .menu-title {
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    position: relative;
    @include desktop {
      height: 20rem;
    }
    @include phone {
      height: 4rem;
    }
  }
  
  