
.greeting{
    font-family: 'Kaushan Script', cursive;
    font-size: 130px;
    color: white;    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    @include laptop{
        font-size: 65px;
    }
    @include tablet{
        font-size: 65px;
    }
}

.motto{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @include laptop{
        font-size: 25px;
    }
    @include laptop{
        font-size: 25px;
    }
}

.motto2{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @include laptop{
        font-size: 25px;
    }
    @include laptop{
        font-size: 25px;
    }
}

.name{
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @include laptop{
        font-size: 12px;
    }
    @include laptop{
        font-size: 12px;
    }
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    @include laptop{
        font-size: 37px;
    }
    @include laptop{
        font-size: 37px;
    }
}

.statement {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    @include laptop{
        font-size: 25px;
    }
    @include laptop{
        font-size: 25px;
    }
}

.food-title-child {
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include laptop{
        font-size: 50px;
    }
    @include laptop{
        font-size: 50px;
    }
}

.food-names {
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
