@import "_variables.scss";

.greeting{
    font-family: 'Kaushan Script', cursive;
    color: white;    
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;

    @include desktop {
        font-size: 130px;
    }
    @include phone{
        font-size: 3rem;
    }
}

.motto{
    font-family: 'Spartan', ;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    @include phone{
        font-size: 3vh;
    }

    @include desktop {
        font-size: 50px;
    }
}

.motto2{
    font-family: 'Spartan', ;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    @include phone{
        font-size: 3vh;
    }

    @include desktop {
        font-size: 50px;
    }
}

.name{
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    @include phone{
        font-size: 3vh;
    }

    @include desktop {
        font-size: 25px;
    }
}

.title {
    font-family: 'Kaushan Script', cursive;
    font-size: 75px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.statement {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.food-title-child {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 100px;
    }
    @include phone {
    font-size: 3rem;
    }
}

.menu-title {
    font-family: 'Spartan', ;
    color: black;
    @include desktop {
    font-size: 50px;
    }

    @include phone {
    font-size: 1.5rem;
    }
}

.our-locations-child {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 100px;
    }
    @include phone {
    font-size: 3rem;
    }
}

.cityname1 {
    font-family: 'Spartan', ;
    color: black;
    @include desktop {
        font-size: 30px;
    }
    @include phone {
        font-size: 1rem;
    }
}

.reviews-child {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 100px;
    }
    @include phone {
    font-size: 3rem;
    }
}

.reviews {
    font-family: 'Spartan', ;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 45px;
    }
    @include phone {
    font-size: 2rem;
    }
}

.credits-title-child {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 100px;
    }
    @include phone {
    font-size: 3rem;
    }
}

.socials-parent {
    font-family: 'Spartan', ;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 45px;
    }
    @include phone {
    font-size: 2rem;
    }
}

.socials-locations {
    font-family: 'Spartan', ;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 22px;
    }
    @include phone {
    font-size: 1rem;
    }
}

.socials-me {
    font-family: 'Spartan',;
    color: white;
    @include desktop {
    font-size: 45px;
    }
    @include phone {
    font-size: 2rem;
    }
}

.final-child {
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px;
    @include desktop {
    font-size: 15px;
    }
    @include phone {
    font-size: .75rem;
    }
}

.navigation_list {
    font-family: 'Spartan',;
    color: white;
    @include desktop {
    font-size: 45px;
    }
    @include phone {
    font-size: 2rem;
    }
}