.third-page{
  width: 99vw;
  height: 99vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgb(218, 171, 156);
  margin-bottom: 10vh;
}

.our-locations-parent{
  height: 15rem;
}

.locations {
  width: 99vw;
  height: 25vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}

.sightsee {
  position: relative;
  transition: all 0.3s;
  padding: 2rem;
  filter: grayscale(50);
  @include desktop {
    height: 35rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
  }

  @include phone {
    height: 6rem;
    margin-top: .5rem;
    margin-bottom: 4rem;
  }
}

.sightsee:hover {
  transform: scale(1.1);
  z-index: 2;
  filter: grayscale(0);
}

.location-title {
  height: 10rem;
  background-size: cover;
  background-position: top;
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}







