.third-page{
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: rgb(218, 171, 156);
  margin-bottom: 5vh;
  
}

.our-locations-parent{
  @include tablet {
    height: 7rem;
  }
  @include desktop {
    height: 15rem;
  }
  @include phone {
    height: 7rem;
  }
}

.locations {
  @include tablet {
    width: 25vw;
    height: 80vw;
    flex-direction: column
  }
  @include desktop {
    width: 99vw;
    height: 25vw;
    flex-direction: row;
  }
  @include phone {
    width: 50vw;
    height: 60vh;
    flex-direction: column
  }
  background-size: cover;
  background-position: top;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}

.sightsee {
  position: relative;
  transition: .3s;
  filter: grayscale(50);

  @include tablet {
    height: 18rem;
    width: 30rem;
    padding: 1rem;
  }
  @include desktop {
    height: 30rem;
    width: 45rem;
    margin-top: 20rem;
    margin-bottom: 20rem;
    padding: 2rem;
  }
  @include phone {
    height: 15rem;
    width: 22rem;
    padding: 1rem;
  }
}

.sightsee:hover {
  transform: scale(1.1);
  z-index: 2;
  filter: grayscale(0);
}

.location-title {
  height: 12vh;
  width: 70vw;
  background-size: cover;
  background-position: top;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
}







