@import "_text1.scss";
@import "_animations.scss";
@import "media_queries.scss";

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  /* @include desktop {
  font-size: 70%;
  } */
}

.header-parent{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/sushi_1.jpg);
  background-color: black;
}





