@import "_text.scss";
@import "_usergallery.scss";
@import "_variables.scss";

@include tablet{}
@include laptop{}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  /* @include desktop {
  font-size: 70%;
  } */
}

.header-parent{
  width: 99vw;
  height: 99vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/page1.jpg);
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
  @include laptop {
    width: 50vw;
    height: 50vw;
  @include tablet {
    width: 50vw;
    height: 50vw;
  }
  }
}

.second-page{
  width: 99vw;
  height: 99vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/restaurant.jpg);
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
  @include laptop {
    width: 50vw;
    height: 50vw;
  }
  @include tablet {
    width: 50vw;
    height: 50vw;
  }
}

.title {
  position: absolute;
  width: 99vw;
  height: 20vw;
  background-position: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  @include laptop {
    width: 50vw;
    height: 10vw;
  }
  @include tablet {
    width: 50vw;
    height: 10vw;
  }
}

.food {
  width: 99vw;
  height: 99vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  @include laptop {
    width: 50vw;
    height: 50vw;
  }
  @include tablet {
    width: 50vw;
    height: 50vw;
  }
}

.menu {
  height: 35rem;
  position: relative;
  transition: all 0.3s;
  padding: 2rem;
  margin-bottom: 50rem;
  filter: grayscale(50);
  @include laptop {
    width: 50vw;
    height: 50vw;
  }
  @include tablet {
    width: 50vw;
    height: 50vw;
  }
}

.sushi {
  top: 25rem;
  left: 0;
}

.udon {
  top: 25rem;
  right: -40rem;
}

.sashimi {
  top: 25rem;
  right: -40rem;
}

.menu:hover {
  transform: scale(1.3);
  outline: 2rem solid white;
  z-index: 2;
  filter: grayscale(0);
}

.gallery:hover .menu:not(:hover) {
  transform: scale(0.5);
  opacity: 0.3;
}

.food-title-parent {
  margin-top: 70rem;
}

.sushi_text {
  
}








