@import "_text.scss";
@import "_animations.scss";
@import "media_queries.scss";

@include tablet{}
@include laptop{}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  background-color: black;
  /* @include desktop {
  font-size: 70%;
  } */
}

.header-parent{
  width: 99vw;
  height: 99vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/page1.jpg);
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
}

.second-page{
  width: 99vw;
  height: 99vw;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-image: url(../media/restaurant.jpg);
  clip-path: polygon(50% 10%, 100% 0, 100% 90%, 50% 100%, 0% 90%, 0 0);
}

.title {
  width: 50vw;
  height: 10vw;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.statement {
  width: 50vw;
  height: 40vw;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: gray;
}






